#[no_mangle]
extern "C" { 
  pub fn _putchar(c: u8);
  pub fn _get_plc_mem_devices_struct() -> &'static mut plc_dev_t;
}

macro_rules! print {
  ($f:expr) => (
    unsafe {
      for c in $f.chars() { 
        _putchar(c as u8);
      }
    }
  )
}

macro_rules! println {
  ($f:expr) => (
    print!($f);
    unsafe {
      _putchar(10);
      _putchar(13);
    }
  )
}

#[repr(C)]
pub struct plc_dev_t {
{{#each memmodules}}  m{{device.slot}}: {{device.spec.decl.rust.name}},
{{/each}}
}